@font-face {
    font-family: openSans;
    src: url(../fonts/Open_Sans/OpenSans-VariableFont_wdth\,wght.ttf);
}


body{
    background-color: aliceblue;
}

h1{
    font-family: "Roboto";
    font-size: 50px;
}

h3{
    font-family: "openSans";
    font-size: 30px;
}

h4{
    font-family: Arial, Helvetica, sans-serif;
}